{% extends 'layout/base.html' %}
{% block style %}
<style>
    .card{
        margin: 40px auto;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="card w-50">
        <div class="card-head">
            <h2 class="text-white py-3 text-center bg-dark">Login</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'login' %}" class="py-3">

               {% if messages %}
               {% for message in messages %}
               <div class="alert alert-primary alert-dismissible fade show" role="alert">
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 <strong>Alert</strong> {{ message }}
               </div>
              {% endfor %}
              {% endif %}
               
                
                {% csrf_token %}
                {{ login.as_p }}
                <input type="submit" value="Login" class="btn btn-white btn-outline-danger">

            </form>
            Not registered Yet ?<a href="{% url 'registration' %}">click here</a>
        </div>
    </div>
</div>
{% endblock %}